In [28]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from sklearn.preprocessing import MinMaxScaler

f1 = 'attaccanti_19.xlsx'
f2 = 'attaccanti_20.xlsx'
f3 = 'attaccanti_21.xlsx'
f4 = 'attaccanti_22.xlsx'

df1 = pd.read_excel(f1)
df2 = pd.read_excel(f2).iloc[1:].reset_index(drop = True)
df3 = pd.read_excel(f3).iloc[1:].reset_index(drop = True)
df4 = pd.read_excel(f4).iloc[1:].reset_index(drop = True)

df_unito = pd.concat([df1,df2,df3,df4])

In [29]:
colonne_da_eliminare = ['Player', 'Nation', 'Pos', 'Squad','Age', 'MP', 'Starts', 'Min', 'G+A', 'G-PK', 'PK',
       'PKatt', 'CrdY', 'CrdR', 'PrgP','SoT%',
       'G/Sh', 'G/SoT', 'Dist', 'FK', 'G-xG', 'Cmp', 'Att', 'Cmp%', 'CrsPA', 'Tkl', 'TklW', 'Mid 3rd', 'Att 3rd',
       'Mid 3rd.1', 'Succ%',
       'TotDist', '2CrdY', 'Fld', 'Off', 'Crs', 'Won', 'Lost',
       'Won%']

In [30]:
df_unito.drop(columns = colonne_da_eliminare, inplace = True)
df_unito

,Gls,Ast,xG,PrgR,Sh,SoT,xA,KP,PPA,SCA,GCA,Touches,Att 3rd.1,Att.1,Succ,Carries
0,1,0,1.4,12,5,4,0.1,3,1,7,0,62,26,3,3,43
1,3,0,6.6,100,47,16,0.6,16,10,44,5,513,232,27,14,324
2,5,0,7.1,59,72,25,1.2,9,10,36,1,541,230,18,10,315
3,16,3,16.7,243,96,33,3.2,41,23,98,9,1171,611,82,47,735
4,14,10,10.7,227,117,44,5.1,60,51,119,13,1593,810,76,39,928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,0,0,0.1,4,2,1,0.0,1,0,1,0,16,9,1,0,8
162,1,1,1.1,46,13,4,0.9,14,14,26,3,505,186,31,14,312
163,5,2,2.3,137,32,11,1.6,13,8,46,7,765,323,68,34,466
164,0,0,0.0,0,0,0,0.0,0,0,0,0,3,0,0,0,3
165,2,3,2.5,143,35,10,3.6,22,30,63,6,836,407,72,31,503